# ===========================
# Environment Variables
# ===========================
BACKEND/.env

# ===========================
# Node Modules
# ===========================
BACKEND/node_modules/

# ===========================
# Uploads
# ===========================
BACKEND/uploads/

# ===========================
# Logs
# ===========================
*.log
npm-debug.log*

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Mac
# ===========================
.AppleDouble
.LSOverride